.main {
  display: flex;

  &__content {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    align-content: initial;
    align-items: center;
    justify-items: center;
    width: 76vw;
  }
}